<?xml version="1.0" encoding="utf-8" ?>
<mappings dataContext="UgeData.UtahGeekEventsEntities" assembly="UgeData" namespace="UgeData">
	<table name="Events" documentType="event" entityTypeName="Event" entityPropertyName="Events" autoMap="true">
		<field name="EventID" dataType="Integer" key="true"/>
		<field name="SiteID" defaultValue="1" dataType="Integer" />
		<field name="EventMoniker" alias="Name" />
		<field name="EventName" alias="Name" />
		<!--The rest of the fields are AutoMapped-->
	</table>

	<table name="Presentations" namespace="UgeData" assembly="UgeData" documentType="Presentation" entityTypeName="Presentation" entityPropertyName="Presentations" autoMap="true">
		<field name="PresentationID" dataType="Integer" key="true"/>
		<field name="EventID" dataType="Integer" inherit="true"/>
		<field name="SuggestedByUserID" alias="UserID" defaultValue="5" dataType="Integer" inherit="true"/>
		<field name="TrackID" defaultValue="1" dataType="Integer" />
		<field alias="Track" />
		<field name="AddedDateTime" dataType="DateTimeStamp" defaultValue="now()" />
		<field name="IsSuggestion" defaultValue="false" dataType="Boolean" />
		<field name="IsConfirmed" defaultValue="false" dataType="Boolean" />
		<field name="IsScheduled" defaultValue="false" dataType="Boolean" />
		<field name="Visible" isEnabledColumn="true" defaultValue="true" dataType="Boolean" />
	</table>

	<table name="Sponsors" documentType="Sponsors" entityTypeName="Sponsors" entityPropertityName="Sponsors">
		<field name="SponsorID" dataType="Integer" key ="true"></field>
		<field name="EventID" dataType="Integer" inherit="true"></field>
		<field name="SponsorLevelID" dataType="Integer" dataValue="false"></field>
		<!--<field name="SortNum" dataType="Integer" dataValue="false"></field>-->
		<field name="Name" dataType="string"></field>
		<field name="Url" dataType="string" dataValue="false"></field>
		<field name="ContactInfo" dataType="string" dataValue="false"></field>
		<field name="ImageLocation" dataType="string" dataValue="false"></field>
		<field name="UserID" dataType="Integer" inherit="true"></field>
		<field name="CreateDate" dataType="DateTimeStamp" defaultVAlue="now()"></field>
	</table>
</mappings>